---
const title = "About"

// Import API connection
import {apiFetch} from "../script/apiConnect";

import BaseLayout from "../layouts/BaseLayout.astro";

// Get API Data
const slug = "/api/about?populate=*"
const apiData = await apiFetch(slug, false)

const htmlData = apiData.body.replaceAll("/uploads/", "http://localhost:1337/uploads/")
const mainImage = process.env.API_URL+apiData.topImage.data.attributes.url
---

<BaseLayout title={title}>
    <div class="block absolute left-0 h-64 w-full mb-8">
        <img alt="" class="absolute block object-cover h-64 w-full" src={mainImage}>
        <div class="container mx-auto pl-6 pr-6 h-full">
            <div class="relative flex h-full w-64 items-end">
                <h1 class="text-zinc-50 text-6xl mb-6">Text</h1>
            </div>
        </div>
    </div>
    <div>
        <div class="inline-block mt-64" set:html={htmlData}></div>
    </div>
</BaseLayout>