---

---

<footer class="bg-jo-dark-grey text-slate-300">
    <div class="flex justify-center container mx-auto">
        <div class="w-3/5 py-6 flex">
            <div class="mr-12">
                <!-- Copyright and contact information -->
                <span class="text-2xl">LOGO</span>
            </div>
            <div class="flex flex-col">
                <div class="flex text-2xl mb-2">
                    <span class="font bold mr-4">Visit me: </span>
                    <span class="mr-4">Github</span>
                    <span>Codepen</span>
                </div>
                <!-- built with -->
                <div class="flex text-lg mb-2">
                    <span class="font-bold mr-4">Built with:</span>
                    <span class="mr-4">Astro</span><span>Strapi</span>
                </div>
                <span>Copyright &#169; 2023 Joakim Ottosson. All rights reserved</span>
            </div>
        </div>
        <div class="w-24">
            X
        </div>
    </div>
</footer>