---

---

<footer class="bg-blue-500 text-slate-100">
    <div class="flex h-32 items-center p-6 justify-between">
        <div>
            <!-- Copyright and contact information -->
            <span class="text-2xl">Copyright 2023</span>
        </div>
        <div>
            <!-- built with -->
            <span class="text-2xl">LinkedIn</span>
            <span class="text-2xl">Codepen</span>
        </div>
    </div>
</footer>