---
import * as dotenv from 'dotenv'

dotenv.config()

const response = await fetch(process.env.API_URL+'/api/project-cards?populate=cardImage.image')
const data = await response.json()
const cardData = data.data
---

{ cardData.filter(card => card.attributes.frontPage === true && card.attributes.highlight === false).map(card => {
    const cardContent = card.attributes
    const cardImage = process.env.API_URL+card.attributes.cardImage.data.attributes.formats.medium.url
    return <article>
        <div class="flex flex-col mb-8 border border-jo-grey">
            <div class="p-6 flex flex-col">
                <h3 class="text-4xl mb-4">{cardContent.title}</h3>
                <div>
                    { cardContent.techstack.map(tag => {
                        return <span class="text-md bg-gray-200 text-jo-blue font-bold px-3 py-2 mr-2">{tag}</span>
                    })}
                </div>
                <p class="text-md mt-4">{cardContent.description}</p>
                <a href="" class="flex border border-jo-primary px-4 py-3 mt-4 flex w-52 justify-between items-center text-xl text-jo-primary">
                    Project on Github
                    <i class="iconoir-open-new-window text-xl px-1"></i>
                </a>
            </div>
        </div>
    </article>
    })
}
<div class="flex">
    <a href="" class="border border-jo-primary px-4 py-3 mt-4 flex w-48 justify-center text-xl text-jo-primary mr-8">More projects</a>
    <!-- <a href="" class="border border-jo-primary px-4 py-3 mt-4 flex w-48 justify-center text-xl text-jo-primary">Visit Github</a> -->
</div>