---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const { title } = Astro.props;
import '../styles/base.css';
---

<html lang="en">
    <head>
        <BaseHead title={title}/>
    </head>
    <body>
        <Header />
        <div class="flex justify-center container mx-auto pl-6 pr-6">
            <div class="w-3/5">
                <!-- index.astro, and other files from pages -->
                <slot />
            </div>
        </div>
        <Footer />
    </body>
</html>