---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const { title } = Astro.props;
import '../styles/base.css';
---

<html lang="en">
    <head>
        <BaseHead title={title}/>
    </head>
    <body>
        <Header />
        <div class="container mx-auto pl-6 pr-6">
            <!-- index.astro, and other files from pages -->
            <slot />
        </div>
        <Footer />
    </body>
</html>