---
import MainCard from '../components/MainCard.astro'
import StartCardList from '../components/StartCardList.astro'

const sectionTitle = "Projects"
---

<section id="projects" class="mb-32">
    <h2 class="text-5xl mb-8 uppercase">{sectionTitle}</h2>
    <!-- Start: Cards -->
    <div id="featured">
        <MainCard />
    </div>
    <h3 class="text-4xl mb-8 uppercase">On Github</h3>
    <div>
        <StartCardList />
    </div>
    <!-- End: Cards -->
</section>